<% include header %>

<div class="menu">
    <div class="back"><i class="fa fa-chevron-left"></i> <img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="name">Alex</div>
    <div class="last">18:09</div>
</div>
<ol class="chat">
    <li class="other">
        <div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="msg">
            <p>Hola!</p>
            <p>Te vienes a cenar al centro?</p>
            <time>20:17</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
        <div class="msg">
            <p>Puff...</p>
            <p>Aún estoy haciendo el contexto de Góngora...</p>
            <p>Mejor otro día</p>
            <time>20:18</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="msg">
            <p>Qué contexto de Góngora?</p>
            <time>20:18</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
        <div class="msg">
            <p>El que mandó Marialu</p>
            <p>Es para mañana...</p>
            <time>20:18</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="msg">
            <time>20:18</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
        <div class="msg">
            <time>20:19</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="msg">
            <p>Gracias!</p>
            <time>20:20</time>
        </div>
    </li>
    <div class="day">Hoy</div>
    <li class="self">
        <div class="avatar"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
        <div class="msg">
            <p>Te apetece jugar a Minecraft?</p>
            <time>18:03</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="msg">
            <p>Venga va, hace ya mucho que no juego...</p>
            <time>18:07</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
        <div class="msg">
            <p>Ehh, me crashea el Launcher...</p>
            <time>18:08</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="msg">
            <p><emoji class="lmao"/></p>
            <time>18:08</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
        <div class="msg">
            <p>Es broma</p>
            <p>Ataque Moai!</p>
            <time>18:09</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
        <div class="msg">
            <p>Copón</p>
            <p><emoji class="funny"/></p>
            <time>18:08</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
        <div class="msg">
            <p>Hey there's a new update about this chat UI with more responsive elements! Check it now:</p>
            <time>18:09</time>
        </div>
    </li>
</ol>
<input class="textarea" type="text" placeholder="Type here!"/>

<% include footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

<% include fin %>