<% include header %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Notification</h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Notification</th>
                        <th>From</th>
                    </tr>
                    </thead>
                    <tbody>

                    <%if (locals.notif !== undefined)
                    {
                        for (k in locals.notif)
                        {
                        %><tr>
                        <td <%
                        if (locals.notif[k].notification == "like")
                        {
                            %>style="color: #32CD32;"<%
                        }
                        if (locals.notif[k].notification == "dislike")
                        {
                        %>style="color: red;"<%
                        }
                        if (locals.notif[k].notification == "message")
                        {
                        %>style="color: deepskyblue;"<%
                        }
                        if (locals.notif[k].notification == "match")
                        {
                        %>style="color: #FDEE00; text-shadow: 0px 0px 2px #0f0f0f"<%
                        }

                        %>><%=locals.notif[k].notification%></td>
                        <td><%=locals.notif[k].sender_user_name%></td>
                        </tr><%
                        }
                    }%>
                    </tbody>
                </table>
                <form method="post">

                    <button type="submit" id="clear_notif_btn" class="btn btn-info">Clear notifications</button>
                    <input type="hidden" name="clear_notif" id="clear_notif" value="">
                </form>
            </div>
    </div>
</div>

<% include footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="http://a-hua.me:3000/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-notify.js"></script>

<script>
    $('#menu_notifications').addClass('active');
</script>

<script>
    $('#clear_notif_btn').click(function () {
        document.getElementById('clear_notif').value = "clear";
    })

    let count = <%=locals.count_notif%>;
    let socket = io.connect();

    socket.emit('join', {user_name : '<%=locals.user_name%>'})


</script>
<script type="text/javascript" src="static/js/notif.js"></script>


<% include fin %>