<% include header_bis %>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Matcha</a>
        </div>
    </div>
</nav>


<div class="container">

    <div class="page-header">
        <h1>You successfully logout, click <a href="/signin">here</a> to reconnect</h1>
    </div>





</div> <!-- /container -->


<% include footer %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>


<% include fin %>
