<% include header %>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Matcha</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/signin">Sign-In</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">
    <h1 class="well">Create your account</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form method="post">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>First Name</label>
                            <input type="text" name="first_name" placeholder="Enter your First Name" class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Last Name</label>
                            <input type="text" name="last_name" placeholder="Enter your Last Name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>User name</label>
                        <input type="text" name="login" placeholder="Choose an user name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Enter your Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password Confirmation</label>
                        <input type="password" name="confirm_password" placeholder="Confirm your Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="Enter your Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input type="text" name="age" placeholder="How old are you ?" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Gender</label>   </br>
                        <!--<input type="text" placeholder="Man or Woman" class="form-control">-->
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="gender" id="optionsRadios1" value="man">
                                Man
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="gender" id="optionsRadios2" value="woman">
                                Woman
                            </label>
                        </div>

                    </div>


                    <button type="submit" class="btn btn-lg btn-info" value="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<% include footer %>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/bootstrap-3.3.7/assets/js/ie10-viewport-bug-workaround.js"></script>


<% include fin %>
