<% include header_bis %>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Matcha</a>
        </div>
    </div>
</nav>


<div class="container">

    <form class="form-signin <%= locals.errors !== undefined ? "has-error has-feedback": ""%>" method="post">
        <% if (locals.errors !== undefined)
        {%>
        <label class="control-label" for="inputError1"><%= locals.errors %></label>
        <% } else { %>
        <h2 class="form-signin-heading">Please sign in</h2>
        <% } %>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input value="<%= locals.body !== undefined ? locals.body.user_name : "" %>" type="text" name="user_name" id="inputEmail" class="form-control " placeholder="User name">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
            <!--</label>-->
        <!--</div>-->
        <input type="hidden" name="lat" id="lat" value="">
        <input type="hidden" name="lng" id="lng" value="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="/register" class="btn btn-lg btn-block">Create an account</a>
    </form>

</div> <!-- /container -->


<% include footer %>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/bootstrap-3.3.7/assets/js/ie10-viewport-bug-workaround.js"></script>

<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
//            var pos = {
//                lat: position.coords.latitude,
//                lng: position.coords.longitude
//            };
            document.getElementById("lat").value = position.coords.latitude;
            document.getElementById("lng").value = position.coords.longitude;
        });
    }
</script>

<% include fin %>
